.container {
  display: flex;
  padding: 20px;
  text-align: center;
  flex-direction: column;
}

.containerSelectors {
  display: flex;
}

.containerCards {
  display: flex;
  align-items: center;
}
