.backgroundImage {
  background-image: url(/rick-y-morty-en-universo-de-dragon-ball_3840x2160_xtrafondos.com.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}
