.App {
  text-align: center;
}

.Cards {
  display: flex;
  text-align: center;
}

.Card {
  color: white;
  background-color: rgb(32, 32, 84);
  margin: 10px;
  width: 300px;
  border: solid black;
}
